@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.nav-bar {
    background-color: white;
    height: 80px;
    margin:0;
    width: 100%;
}

.nav-bar li {
    display:inline-block;
    padding: 10px;
}

.nav-bar li a {
    text-decoration: none;
    vertical-align: middle;
    color:black;
}

.nav-bar ul {
    float:right;
    padding-right:30px;
    text-align: center;
}

.nav-logo {
    float:left;
    padding-left:50px;
}

h1 {
    font-size: 3em;
    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.nav-logo h1 {
    display:inline-block;
    font-size:2em;
}

.red {
    color:red;
}

.green {
    color:rgb(161, 217, 6)
}

html, body {
    background-color: lightgrey;
    margin:0;
}

.interestpoint {
    font-size:medium;
    font-weight: bold;
    text-decoration: none;
    color:black;
}